<div style="margin-top: 20px; padding-top: 30px; clear: both;">
  <h2>Summary of Mutual Evaluation (Only on Course Staff)</h2>
  <p>
    During the mutual evaluation, the student user hides the name and profile image of the note manager
  </p>
  <% members = @course.learners_in_group @group_index %>
  <% members.each do |m| %>
  <% group_notes = @notes.select{|s| (s.group_index == @group_index) && (@course.learner? s.manager_id)} %>
  <% group_notes = group_notes.sort! {|a, b| a.id <=> b.id} %>
  <h3><%= m.full_name %>（<%= m.signin_name %>）</h3>
  <ul>
    <% user_peer_review = get_peer_review group_notes, @group_index, m.id %>
    <% user_peer_review[:eval].each do |upr| %>
    <li>Evaluation object: <%= upr.manager.full_name %></li>
    <% end %>
  </ul>
  <ul>
    <% stickies = Sticky.where(course_id: @course.id, manager_id: m.id, target_type: 'Note') %>
    <% stickies.each do |s| %>
    <% note = Note.find(s.target_id) %>
    <li>Fix <%= note.manager.full_name %> 「<%= s.message %>」</li>
    <% end %>
    <% stars = NoteStar.where(manager_id: m.id, stared: true) %>
    <% stars.each do |s| %>
    <li>Star:<%= s.note.manager.full_name %></li>
    <% end %>
  </ul>
  <% end %>
</div>
