<%= form_for(@content, url: {action: submit_action, id: @content.id}, html: {id: 'content-form', name: 'content-form', class: 'form-horizontal', remote: true}) do |f| %>
<%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>
<%#= f.error_messages %>

<div class="bordered-block">
  <h2>Basic information</h2>
  <%= render partial: 'layouts/required' %>
  <div class="form-group row">
    <%= f.label :title, raw("<span class='required'>*</span>") + t('activerecord.attributes.content.title'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-7">
      <%= f.text_field :title, {class: 'form-control', placeholder: t('activerecord.attributes.content.title')} %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :overview, raw("<span class='required'>*</span>") + t('activerecord.attributes.content.overview'), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-7">
      <%= f.text_area :overview, {class: 'form-control', rows: '8', placeholder: t('activerecord.attributes.content.overview')} %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :condition, class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-7">
      <%= f.text_area :condition, {class: 'form-control', rows: '5', placeholder: t('activerecord.attributes.content.condition')} %>
      <div class="form-text">Describe any knowledge or instruments necessary for learning</div>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :status, raw("<span class='required'>*</span>New registration to the course"), class: 'col-md-3 col-form-label text-sm-right' %>
    <div class="col-md-7">
      <%= f.select :status, [['Possible', 'open'], ['Impossible (Archive)', 'archived']], {}, {class: 'form-control'} %>
    </div>
  </div>
  <%= f.hidden_field :category, value: @content.category %>
</div>

<div class="bordered-block">
  <h2>Learning goal
    <div class="header-explanation">Learning objectives of teaching materials are 1 to 1<%= CONTENT_OBJECTIVE_MAX_SIZE %>Individual setting
    </div>
  </h2>
  <%= render partial: 'layouts/required' %>
  <% editable = @content.editable_objectives? %>
  <% required = true %>
  <%= f.fields_for :objectives do |objective_form| %>
  <%= render partial: 'objective_form', locals: {required: required, editable: editable, objective_form: objective_form} %>
  <% required = false %>
  <% end %>

  <div class="form-group row">
    <div class="col-md-11 ml-auto">
      <ul class="form-list">
        <li>Set goal to blank for goal you want to delete</li>
        <li>Perform assignment evaluation based on the points set for each target</li>
        <li>The total score of all goals is standardized to 10 teaching materials (automatic correction if not 10 points)</li>
        <li>The total score of all goals is standardized to 10 teaching materials (automatic correction if not 10 points)...</li>
      </ul>
    </div>
  </div>
</div>

<div class="bordered-block">
  <%= render partial: 'layouts/required' %>
  <h2>Task
    <div class="header-explanation">Always set one assignment</div>
  </h2>
  <div class="form-group row">
    <label class="col-md-3 col-form-label text-sm-right"><span class="required">*</span>Classification</label>

    <div class="col-md-7">
      <%= f.select :as_category, assignment_categories, {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label text-sm-right">Overview</label>
    <div class="col-md-7">
      <%= f.text_area :as_overview, {class: 'form-control', rows: '5', placeholder: t('activerecord.attributes.content.as_overview')} %>
    </div>
  </div>
</div>

<% action_hash = submit_action == 'ajax_create' ? {action: 'ajax_index', nav_section: 'repository'} : {action: 'ajax_show', id: @content.id} %>
<%= render partial: 'layouts/buttons/cancel', locals: {action_hash: action_hash} %>
<%= render partial: 'layouts/buttons/save_and_next' %>
<% end %>

<script>
$(function () {
  $('#content_title').focus();
})
</script>
