<div id="content-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12 block">
      <% case session[:nav_section] when 'home' %>
      <!-- Contents -->
      <%= render partial: 'contents/contents_card' if @contents.size > 0 %>
      <div class="card">
        <h2 class="card-header"><%= t('.recommended_browsers') %></h2>
        <div class="card-body">
          <p class="card-text"><%= t('.use_following_browsers') %></p>
          <ul>
            <li>Windows: Internet Explorer 11, Chrome (<%= t('.newest') %>)</li>
            <li>macOS: Chrome (<%= t('.newest') %>)</li>
          </ul>
          <p class="card-text"><%= t('.remarks_for_edge') %></p>
        </div>
      </div>

      <div class="card">
        <h2 class="card-header"><%= t('.shortcut_keys') %></h2>
        <div class="card-body">
          <%= render 'layouts/shortcut_keys' %>
        </div>
      </div>

      <div class="card">
        <h2 class="card-header"><%= t('.course_content_management') %></h2>
        <div class="card-body">
          <p class="card-text">
            Only the system administrator can register the course, and by specifying the specific user as the course administrator and registering the course, the user can manage the course.
          </p>
          <p class="card-text">
            Also, system administrator, administrator of one or more courses/Assistant users and users who are assistants of one or more teaching materials can manage teaching materials.
          </p>
        </div>
      </div>

      

      <% when 'repository' %>
      <div class="card-l course-border">
        <%= render partial: 'layouts/card_l', locals: {card: support_card_hash('content')} %>
      </div>

      <!-- Contents -->
      <%= render partial: 'contents/contents_card' %>
      <% end %>
    </div>
  </div>
</div>
