<!-- FIXME: PushNotification -->
<div id="device-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<h1>Setting of device for push notification</h1>
			<%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>

			<div class="bordered-block">
				<h2>What is a push notification?</h2>
				<p>This service sends notification to Android smartphone or Chrome browser on Windows PC / Mac when evaluation of submission task is decided.</p>
				<ul>
					<li>This service is an experimental feature and can not be used on the iPhone / iPad.</li>
					<li>Push notification when the power is turned off or not connected to the Internet is displayed when the power is turned on or connected to the Internet.</li>
				</ul>
			</div>

			<div class="bordered-block">
				<h2>Equipment for push notification</h2>
				<% if current_user.devices.length == 0 %>
				<p>A device to push notification is not registered.</p>
				<% else %>
				<%= render(partial: 'device', collection: current_user.devices) %>
				<% end %>
				<%= link_to({action: 'ajax_new'}, {class: 'btn btn-primary', remote: true}) do %>
				<i class='fa fa-plus'></i> <%= t('.new_device') %>
				<% end %>
			</div>
			<%= render partial: 'layouts/buttons/ok', locals: {action_hash: {controller: 'preferences', action: 'ajax_index', nav_section: 'home'}} %>
		</div>
	</div>
</div>
