<div id="versatile-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12" style="max-width:720px;">
      <div class="card">
        <h2 class="card-header">Preparation of note function</h2>
        <div class="card-body" style="line-height: 150%;">
          <p class="card-text">
            With the note function, you can save various information on the web page to LePo. You can specify the display order of the saved information, along with your own sentences and uploaded image files in the notebook.
          </p>
          【Operation to record information】
          <ol class="card-text">
            <li>以下の「+Drag and drop "Note" button to the bookmark bar (favorite bar) of the browser<br/>
              <a href="<%= lepo_bookmarklet_script %>" class="btn btn-info btn-sm">+Note</a>
            </li>
            <li>Information can be recorded from arbitrary Web pages (Information in the system and PDF files can not be recorded)
              <ul>
                <li>Text: Select the range of characters on the web page and click the button on the bookmark bar! (In one operation<%= WEB_SNIPPET_MAX_LENGTH %>Can record up to characters)</li>
                <li>Image: Click on the button without selecting anything. Click any image from the displayed image list!</li>
                <li>YouTube: On the page where a specific video was displayed, click on the button without selecting anything!</li>
                <li>TED / Scratch: Click like YouTube!</li>
              </ul>
            </li>
            <li>From "note management", organize the recorded information by dragging and dropping it onto the note</li>
          </ol>
        </div>
      </div>

      <% if current_user.notes.size.zero? %>
      <div class="card">
        <h2 class="card-header">Setting standard notes</h2>
        <div class="card-body" style="line-height: 150%;">
          Since there are no notes currently managed, you can not set standard notes.
        </div>
      </div>
      <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {action: 'ajax_index', nav_section: 'home'}} %>
      <% else %>
      <%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>
      <%= form_for current_user, url: {action: :ajax_update_default_note}, html: {id: 'user_form', name: 'user_form'}, remote: true do |f| %>
      <div class="card">
        <h2 class="card-header">Setting standard notes</h2>
        <div class="card-body" style="line-height: 150%;">
          <p class="card-text">
            +The Web information recorded with the Note button is saved directly in the standard note specified below.
          </p>
          <% notes = current_user.notes.where.not(category: :lesson).map {|note| [note.title, note.id]} %>
          <% notes.unshift ['No setting', 0] %>
          <div class="form-group row">
            <%= f.label :default_note_id, 'Standard note', class: 'col-md-3 col-form-label' %>
            <div class="col-md-7">
              <%= f.select :default_note_id, notes, {}, {class: 'form-control'} %>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_index', nav_section: 'home'}} %>
      <span style="margin-left:1rem;">
        <%= render partial: 'layouts/buttons/update' %>
      </span>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
