<div id="course-resource" class="scroll-pane">
  <div class="row" id="edit-lessons">
    <div class="col-md-12">
      <h1>Edit lesson</h1>
      <%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>

      <div class="bordered-block">
        <h2>Lesson composition
          <div class="header-explanation">1〜<%= COURSE_LESSON_MAX_SIZE %>You can register lessons</div>
        </h2>

        <div style="margin-top: 14px;">
          <h3>Register new lesson</h3>
          <div style="padding-left: 20px;">
            <% if @content_array.size == 0 %>
            There are no teaching materials that can be newly added
            <% elsif @course.lessons.size >= COURSE_LESSON_MAX_SIZE %>
            Maximum number of lessons that can be registered<%= COURSE_LESSON_MAX_SIZE %>Reached
            <% else %>
            <%= form_for(:lesson, url: {action: 'ajax_create_lesson', id: @course.id}, html: {id: 'lesson-form', class: 'form-inline', style: 'padding: 4px;', remote: true}) do |f| %>
            <%#= f.error_messages %>
            <%= f.hidden_field :display_order, value: @course.lessons.size + 1 %>
            <%= f.select :content_id, @content_array, {}, {class: 'form-control', style: 'width: 300px; margin-right:16px;'} %>
            <%= f.select :evaluator_id, get_evaluators(@course.managers), {}, {selected: 0, class: 'form-control', style: 'margin-right:16px;'} %>
            <%= render partial: 'layouts/buttons/create' %>
            <% end %>
            <% end %>
          </div>
        </div>

        <% if @course.lessons.size > 0 %>
        <div style="margin-top: 10px;">
          <h3>Registered lesson</h3>
          <div id="lessons" style="padding-left: 20px; overflow: auto;">
            <%= render partial: 'lesson', collection: @course.lessons %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="bordered-block">
        <h2>Confirm course objective</h2>
        <ol id="goals">
          <%= render partial: 'goal', collection: @course.goals %>
        </ol>
        <h2>Associating course objectives with lesson goals
          <div class="header-explanation">Designate one related course objective for the achievement goal of the lesson material</div>
        </h2>
        <div id="objectives">
          <% @course.lessons.each do |lesson| %>
          <h3>lesson<%= lesson.display_order %>： <%= lesson.content.title %></h3>
          <%= render partial: 'objective', collection: lesson.content.objectives, locals: {lesson: lesson} %>
          <% end %>
        </div>
      </div>

      <%= render partial: 'layouts/buttons/back', locals: {action_hash: {action: 'ajax_edit', id: @course.id}} %>
      <span style="margin-left: 1rem;">
        <%= render partial: 'layouts/buttons/ok', locals: {action_hash: get_url_hash(@course.id, @course.status)} %>
      </span>
    </div>
  </div>
</div>

<script>
$(function () {
  sortLessons(<%= @course.id %>);
});
</script>
