<div class="hero-content">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                            <div class="header-bar-email d-flex align-items-center">
                                <i class="fa fa-envelope"></i><a href="#">email</a>
                            </div><!-- .header-bar-email -->

                            <div class="header-bar-text lg-flex align-items-center">
                                <p><i class="fa fa-phone"></i>phone number </p>
                            </div><!-- .header-bar-text -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="What would you like to learn?">
                                    <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <li>
                                    <%= link_to "Register", new_user_url, class: "register-popup" %>
                                    </li>
                                    <li><a href="<%= lms_url %>">Login</a></li>
                                </ul>
                                <style>
                                    .mfp-content {
                                        max-width: 620px;
                                        z-index: 99999999;
                                    }
                                </style>
                                <script>
                                    $(document).ready(function() {

                                    $('.register-popup').magnificPopup({
                                    type: 'ajax',
                                    midClick: true,
                                    mainClass: 'mfp-fade',
                                    closeOnBgClick: false 
                                    });

                                    
                                    });
                                </script>    
                            </div><!-- .header-bar-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container-fluid -->
            </div><!-- .top-header-bar -->

            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-9 col-lg-3">
                            <div class="site-branding">
                                <h1 class="site-title"><a href="index.html" rel="home">Oliver's<span>lms</span></a></h1>
                            </div><!-- .site-branding -->
                        </div><!-- .col -->

                        <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                            <nav id="site-navigation" class="site-navigation flex justify-content-end align-items-center">
                                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li><a href="<%= root_url %>"><%= t('landing.header.home').html_safe %></a></li>
                                    <li><a href="<%= about_us_url %>"><%= t('landing.header.about').html_safe %></a></li>
                                    <li><a href="<%= courses_url %>"><%= t('landing.header.courses').html_safe %></a></li>
                                    <li><a href="<%= lines_path %>"><%= t('landing.header.blog').html_safe %></a></li>
                                    <li><a href="<%= contact_url %>"><%= t('landing.header.contact').html_safe %></a></li>
                                </ul>

                                <div onclick="togglenavigation()" id="hamburger-menu" class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->

                                <div class="header-bar-cart">
                                    <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true" class="icon_bag_alt"></span></a>
                                </div><!-- .header-bar-search -->
                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <!-- carousel -->
        <div class="hero-content-overlay">
                <div class="row hero-height">
                    <div class="col-12">
                        <div id="carouselExampleControls" class="carousel slide hero-height flex flex-column justify-content-center align-items-start" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-block hero-height img-c img-s1" %>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-block hero-height img-c img-s2" %>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-block hero-height img-c img-s3" %>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="scroll-down" address="true"></a>
                            <div class="row hero-height hero-absolute">
                                <div class="col-12 hero-height text-center hero-dt">
                                    <div class="hero-text">
                                        <div class="entry-header">
                                            <h4><%= t('landing.header.small_text') %></h4>
                                            <h1><%= t('landing.header.big_text').html_safe %></h1>
                                        </div>
                                        <div class="entry-content">
                                            <p><%= t('landing.header.text') %></p>
                                        </div>
                                        <button type="button" class="btn btn-success">Play Video</button>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
        </div><!-- .hero-content-hero-content-overlay -->
    </div><!-- .hero-content -->

    <script>
   
    function togglenavigation() {
        var element = document.getElementById("hamburger-menu");
        element.classList.toggle("open");
        var el2 = document.getElementById("site-navigation");
        el2.classList.toggle("show")
    }
</script>