<section class="latest-news-events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="heading flex justify-content-between align-items-center">
                        <h2 class="entry-title">Latest News & Events</h2>
                    </header><!-- .heading -->
                </div><!-- .col -->
                    <div class="col-12 col-lg-6">
                        <div class="featured-event-content">
                            <figure class="event-thumbnail position-relative m-0">
                                <a href="#"><img src="<%= @first_article.image_url %>" alt=""></a>

                                <div class="posted-date position-absolute">
                                    <div class="day"><%= @first_article.created_at.strftime('%d') %></div>
                                    <div class="month"><%= @first_article.created_at.strftime('%b') %></div>
                                </div><!-- .posted-date -->
                            </figure><!-- .event-thumbnail -->

                            <header class="entry-header flex flex-wrap align-items-center">
                                <h2 class="entry-title"><a href="blog/<%= @first_article_url %>"><%= @first_article.title %></a></h2>
                            </header><!-- .entry-header -->
                        </div><!-- .featured-event-content -->
                    </div><!-- .col -->
                
                
                <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                    <% @other_two_articles.each do |a| %>
                        <div class="event-content flex flex-wrap justify-content-between align-content-stretch">
                            <figure class="event-thumbnail">
                                <a href="#"><img src="<%= a.image_url %>" alt=""></a>
                            </figure><!-- .course-thumbnail -->

                            <div class="event-content-wrap">
                                <header class="entry-header">
                                    <div class="posted-date">
                                        <i class="fa fa-calendar"></i> <%= a.created_at.strftime('%d %b %Y') %>
                                    </div><!-- .posted-date -->

                                    <h2 class="entry-title">
                                        <%= a.title %>
                                    </h2>

                                    <div class="entry-meta flex flex-wrap align-items-center">
                                        <div class="post-author"><a href="#"> </a></div>

                                        <!--<div class="post-comments">02 Comments  </div> -->
                                    </div><!-- .entry-meta -->
                                </header><!-- .entry-header -->

                                <div class="entry-content">
                                    <p><%= a.teaser %></p>
                                </div><!-- .entry-content -->
                            </div><!-- .event-content-wrap -->
                        </div><!-- .event-content -->
                    <% end %>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .latest-news-events -->