<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'lms-fav.png' %>
  
  <!-- FIXME: PushNotification -->
  <link rel="manifest" href="<%#= asset_path 'manifest.json' %>">
  <title>LMS olie</title>
</head>
<% if current_page?(lms_path)%>
  <body class="beforeSignIn">
<%else%>
  <body>
<%end%>
  <%= yield %>
</body>

</html>
